@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Lexend:wght@100..900&family=Orbitron:wght@600&display=swap');

:root {
  --first-dark-color: #252c32;
  --first-light-color: #fffff0;
  --second-dark-color: #05b0f4;
  --second-light-color: #025E83;
  --first-color: var(--first-dark-color);
  --second-color: var(--first-light-color);
  --third-color: #04141e;
  --fourth-color: var(--second-dark-color);
  --fifth-color: var(--second-light-color);
  --main-font: "Corben";
  --title-font: "Orbitron";
  --other-font: "Lexend";
  --main-size: 16px;
  --title-size: 40px;
  --other-size: 20px;
  --main-spacing: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--first-color);
  color: var(--second-color);
  font-family: var(--main-font);
  font-size: var(--main-size);
  word-spacing: var(--main-spacing);
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out, box-shadow 300ms ease-in-out, fill 300ms ease-in-out;
  text-align: center;
}

main {
  padding: 0 30px 60px 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  font-size: var(--title-size);
  margin: 60px 0 0 0;
}

h2, h3 {
  font-size: var(--other-size);
}

h3 {
 color: var(--fourth-color);
 font-family: var(--other-font);
 font-size: var(--main-size);
 margin: 24px 0 0 0;
}

p {
  margin: 32px 0 0 0;
}

button {
  width: 170px;
  height: 44px;
  background: var(--second-color);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  color: var(--first-color);
  font-family: var(--other-font);
}

button:hover {
  position: relative;
  box-shadow: 3px 3px 3px var(--third-color);
  transform: translateY(-5px);
}

a {
  text-decoration: none;
  width: 100%;
}

footer {
  background-color: var(--second-color);
  padding: 24px 30px 24px 30px;
}